:root[data-theme="default"] {
  // --primary-color: #3f51b5;
  // --secondary-color: #ff4081;
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --text-color: #333333;
  --text-secondary: #666666;
  // --border-color: #e0e0e0;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --button-bg: #f0f0f0;
  --button-color: #333333;
  --fab-bg: #ffffff;
  --fab-color: #333333;
  --nav-bg: #ffffff;
  --footer-bg: #f5f5f5;
  --card-bg: #ffffff;

  --primary-color: #4f46e5;
  --primary-light: #e0e7ff;
  --secondary-color: #10b981;
  --dark-color: #1f2937;
  --light-color: #f9fafb;
  --gray-color: #9ca3af;
  --border-color: #e5e7eb;
  --sidebar-width: 250px;
  --sidebar-collapsed-width: 70px;
  --navbar-height: 70px;
  --transition-speed: 0.3s;
}
