<app-modal size="extra-large" type="popup" id="model">
  <div class="modal_size">
    <button
      class="modal_close"
      (click)="closeModal('model')"
      (keyup.enter)="closeModal('model')"
      tabindex="0"
    >
      close
    </button>

    <h1>Modal</h1>

    <form
      autocomplete="off"
      role="form"
      aria-labelledby="model-cause-form-title"
    >
      <button type="submit" class="btn btn-primary">Save</button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="closeModal('model')"
      >
        Cancel
      </button>
    </form>
  </div>
</app-modal>

<h1>Modal</h1>

<button (click)="openModal('model')">Add</button>
