<!-- Popup Modal -->
<app-modal id="popup-modal" type="popup" size="large">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="closeModal('popup-modal')"
  >
    Cancel
  </button>
</app-modal>

<!-- Side Left Modal -->
<app-modal id="sidebar-left" type="side-left">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="closeModal('sidebar-left')"
  >
    Cancel
  </button>
</app-modal>

<!-- Side Right Modal -->
<app-modal id="sidebar-right" type="side-right">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="closeModal('sidebar-right')"
  >
    Cancel
  </button>
</app-modal>

<h1>Modal</h1>

<button (click)="openModal('popup-modal')">popup</button>
<button (click)="openModal('sidebar-left')">side-left</button>
<button (click)="openModal('sidebar-right')">side-right</button>
