*,
*::before,
*::after {
  box-sizing: border-box;
}

app-modal {
  display: none;
}

.pop-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  z-index: 1000;
  // overflow: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pop-modal-background {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 900;
  pointer-events: none;
}

.pop-modal-open .pop-modal-background {
  pointer-events: auto;
}

.pop-modal .pop-modal-body {
  padding: 20px;
}

.pop-modal.small {
  width: 80%;
  max-width: 400px;
}

.pop-modal.large {
  width: 70%;
  max-width: 800px;
}

.pop-modal.extra-large {
  width: 60%;
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  .pop-modal.small {
    width: 90%;
    max-width: 500px;
  }
  .pop-modal.large {
    width: 80%;
    max-width: 900px;
    .pop-modal.extra-large {
      width: 70%;
      max-width: 1100px;
    }
  }

  @media screen and (max-width: 576px) {
    .pop-modal.small {
      width: 95%;
      max-width: 600px;
    }
    .pop-modal.large {
      width: 90%;
      max-width: 1000px;
    }
    .pop-modal.extra-large {
      width: 85%;
      max-width: 1300px;
    }
  }
}
